html, body {
  height: 100%;
  width: 100%;
}

body {
  color: #114B5F;
  background-color: #88D498 ;
}

.page-title {
  text-align: center;
}

.page-title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 300 px; 
}

.sidebar-button {
  padding-top: 4px;
  padding-bottom: 4px;
  color:inherit;
  font-size: 20px;
}

.sidebar-button:hover {
  color:inherit;
}

#headshot {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sidebar {
  background-color: #1A936F ;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  header {
    height: 100vh;
  }
  #sidebar {
    height: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
