html, body {
  height: 100%;
  width: 100%;
}
body {
  color: #114B5F;
  background-color: #88D498 ;
}
.col{
    padding-top: 4px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}
.page-title {
  text-align: center;
}

.page-title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 300 px; 
}

.sidebar-button {
  padding-top: 4px;
  padding-bottom: 4px;
  color:inherit;
  font-size: 20px;
}

.sidebar-button:hover {
  color:inherit;
}

#headshot {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sidebar {
  background-color: #1A936F ;
}
@media (min-width: 576px) {
  header {
    height: 100vh;
  }
  #sidebar {
    height: 100%;
  }
}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
